$backgroundColorPage: #0A192F;
$backgroundColorWidget: #112240;
$backgroundColorWidgetItem: #1f417e;
$textColor: #CCD6F6;
$headerTextColor: #E6F1FF;
$accentColor: #64FFDA;
$accentColorReverse: #ff6489;
$accentColorActive: #ff0d47;
$borderColor: #233554;
$gradient: linear-gradient(90deg, #64FFDA 0%, #0A192F 100%);
$shadow: 0 4px 20px rgb(2 12 27 / 70%);
$disabledBackground: #1e2a3d;
$disabledTextColor: #b0bbdb;
$disabledBorderColor: #3a4a6b;
$disabledIconColor: #8a95b3;
$breadcrumbColor: #64FFDA;
$breadcrumbTextColor: #0A192F;
$breadcrumbActiveColor: #ff0d47;
$breadcrumbActiveTextColor: #FFF;
$breadcrumbHoverColor: #ff0d47;
$breadcrumbHoverTextColor: #FFF;
$breadcrumbFocusColor: #ff0d47;
$breadcrumbFocusTextColor: #FFF;
$breadcrumbDisabledColor: #8a95b3;
$breadcrumbDisabledTextColor: #b0bbdb;
$badgeColor: #64FFDA;
$badgeTextColor: #0A192F;
$badgeHoverColor: #ff0d47;
$badgeHoverTextColor: #FFF;
$badgeDisabledColor: #8a95b3;
$badgeDisabledTextColor: #b0bbdb;
$gradientOnFocus1: radial-gradient(circle, $backgroundColorWidgetItem 25%, $backgroundColorWidgetItem 50%, $accentColorActive 100%);
$gradientOnFocus2: radial-gradient(circle, $badgeColor 25%, $accentColorReverse 50%, $badgeHoverColor 100%);