$textColorDark: #3B434E;
$textColorLight: #FFFFFF;
$textColorAccent: #7653FC;

$backgroundColorGrayLight: #F5F6F8;
$backgroundColorGray: #E2E2E2;
$backgroundColorLight: #FFFFFF;
$backgroundColorAccent: #7653FC;

$redLight: #FC836D;
$red: #DE0000;
$greenLight: #C8F8E4;
$green: #1DC37E;
$gold: #DCB44E;