$accentColor: #64FFDA;
$accentColor2: #ff0d47;
$accentColor3: #0A192F;
$textColor: #CCD6F6;
$textColor2: #fff;
$textColor3: #303030;
$disabledTextColor: #b0bbdb;
$disabledBackgroundColor: #8a95b3;
$disabledBackgroundColor2: #1e2a3d;
$backgroundColorWidget: #112240;
$backgroundColorWidgetItem: #1f417e;
$borderColor: #233554;
$gradient: linear-gradient(90deg, $accentColor 0%, $accentColor3 100%);
$shadow: 0 4px 20px rgb(2 12 27 / 70%);
$disabledBorderColor: #3a4a6b;
$gradientOnFocus1: radial-gradient(circle, $backgroundColorWidgetItem 25%, $backgroundColorWidgetItem 50%, $accentColor2 100%);
$gradientOnFocus2: radial-gradient(circle, $accentColor 25%, $accentColor3 50%, $accentColor2 100%);
$errorColor: #f00000;
$infoColor: #1D4ED8;
$successColor: #047857;
$attentionColor: #EC7C26;