@use './colors.scss' as colors;
@use './sizes.scss' as sizes;

@mixin scrollbar {
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: colors.$accentColor3;
  }

  &::-webkit-scrollbar-thumb {
    background-color: colors.$borderColor;
  }
}

@mixin layout {
  height: calc(100% - sizes.$breadCrumbsHeight);
  padding: sizes.rem(10);
}