.breadCrumbs {
  display: flex;

  width: fit-content;
}

.breadCrumbsItem {
  display: flex;
  align-items: center;

  width: 150px;

  height: sizes.$breadCrumbsHeight;
  padding-left: 25px;

  cursor: default;

  transition: transitions.$fast;

  color: colors.$textColor3;

  background-color: colors.$accentColor;

  &:focus {
    color: colors.$accentColor;
    background-color: colors.$accentColor2;
  }

  &:only-child {
    cursor: default;
  }

  &:last-child {
    color: colors.$accentColor;
    background-color: colors.$accentColor2;
  }

  &:first-child {
    padding-left: 10px;
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 0%,
      calc(100% - 25px) 100%,
      0 100%
    );
  }

  &:not(:first-child) {
    margin-left: -20px;
    clip-path: polygon(
      calc(0% + 25px) 0%,
      100% 0%,
      100% 0%,
      calc(100% - 25px) 100%,
      0 100%
    );
  }

  &:not(:last-child) {
    cursor: pointer;
    
    &:hover {
      color: colors.$accentColor;
      background-color: colors.$accentColor2;
    }
  }
}