@use './reset';

// START Закинуть эти строчки в next.config.ts
@use './variables/sizes' as sizes;
@use './variables/colors' as colors;
@use './variables/transitions' as transitions;
@use './variables/mixins' as mixins;

// END

body {
  color: colors.$textColor;
  background-color: colors.$accentColor3;

  font-family: var(--font-noto-sans);
}

a {
  text-decoration: none;

  color: colors.$accentColor;
}