@use 'scss-reset/reset';

// START Закинуть эти строчки в next.config.ts
@use './variables/colors' as colors;
@use './variables/sizes' as sizes;
@use './variables/transitions' as transitions;

// END

body {
  color: colors.$textColor;
  background-color: colors.$backgroundColorPage;

  font-family: var(--font-noto-sans);
}

h1, h2, h3, h4, h5, h6 {
  color: colors.$headerTextColor;
}

a {
  text-decoration: none;

  color: colors.$accentColor;
}