$starHeight: 25px;
$starWidth: 25px;
$widthBetweenStars: 2px;
$totalWidth: ($starWidth * 5) + ($widthBetweenStars * 2);

.rating {
  display: flex;
  align-items: center;
  justify-content: center;

  width: $totalWidth;
  height: $starHeight;

  &.isEditable {
    cursor: pointer;
  }
}

.star {
  flex-shrink: 0;

  width: $starWidth;
  height: $starHeight;

  fill: colors.$backgroundColorLight;

  padding: 0 $widthBetweenStars;

  &.filled {
    fill: colors.$backgroundColorAccent;
  }
  
  &.choices {
    stroke: colors.$gold;
  }

  & > svg {
    width: $starWidth;
    height: $starHeight;

    transition-duration: .3s;

    & > path {
      width: 25px;
      height: 25px;

      box-shadow: 4px 4px 8px 0 rgb(34 60 80 / 20%);
    }
  }

  &:focus {
    stroke: colors.$gold;

    & > svg {
      transform: scale(1.25);
    }
  }

  &:hover {
    & > svg {
      transform: scale(1.25);
    }
  }
}