.profileLayout {
  height: calc(100% - sizes.$breadCrumbsHeight);
  padding: sizes.rem(10);
}

.profileLayoutContent {
  width: 100%;

  height: calc(100% - sizes.$horizontalMenuHeight);

  background-color: colors.$backgroundColorWidgetItem;
}